<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Fura_bot</title>
</head>
<body>
  <header>
    <img src="/static/logo.png" alt="Логотип Fura_bot"/>
    <h1>Добро пожаловать в Fura_bot!</h1>
  </header>

  <section class="buttons">
    <a href="/shop"><button>Купить товары</button></a>
    <a href="/stories"><button>История дальнобойщика</button></a>
    <a href="/crypto"><button>Купить нашу криптовалюту</button></a>
  </section>

  <footer>
    <p>© Fura_bot 2023</p>
  </footer>
</body>
</html>
